/NetBeansProjects/Colecciones6/nbproject/private/
/NetBeansProjects/Colecciones6/build/
/NetBeansProjects/Relaciones1/nbproject/private/
/NetBeansProjects/Relaciones1/build/
/NetBeansProjects/Relaciones2/nbproject/private/
/NetBeansProjects/Relaciones2/build/