/NetBeansProjects/Colecciones6/nbproject/private/
/NetBeansProjects/Colecciones6/build/
/NetBeansProjects/Relaciones1/nbproject/private/
/NetBeansProjects/Relaciones1/build/
/NetBeansProjects/Relaciones2/nbproject/private/
/NetBeansProjects/Relaciones2/build/
/NetBeansProjects/Excepciones4/nbproject/private/
/NetBeansProjects/Excepciones4/build/
/NetBeansProjects/integrador/nbproject/private/
/NetBeansProjects/integrador/build/
/MaterialJDBC/JDBC-master/JDBC/nbproject/private/
/NetBeansProjects/TiendaJDBC/nbproject/private/
/NetBeansProjects/Tienda/nbproject/private/
/NetBeansProjects/Tienda/build/